/* styles.css */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #b6b4b4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: #11f652;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 111, 0);
}

.card-img {
  width: 50%;
  height: auto;
  display: flex;
  padding: 50px;
  margin: auto;
}

.card-content {
  color: white;
  padding: 20px;
}

.card-title {
  font-size: 2rem;
  margin: auto;
  padding: 10px;
}

.card-text {
  font-size: 1rem;
  color: #ffffff;
  margin: 0 0 20px;
  text-align: center;
}

.card-button {
  display: flex;
  background: #236b30;
  color: #fff;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  justify-content: center;
  transition: background 0.3s ease;
}

.card-button:hover {
  background: #fc3939;
}
